
.homepage-head{
position: relative;
}

.search-banner{
display: block;
max-width: 100%;
height: auto;
}

.home-searchbar{
background: #FFF6E5;
padding: 5px;
border-radius: 50px;
display: flex;
align-items: center;
justify-content: space-between;
}

.homesearch-feild{
padding: 0px 15px;
border-right: 1px solid rgb(0 0 0 / 20%);
width: 25%;
}

.last-feild{
border-right: 0px;
}

.homesearch-feild .input-group{
align-items: center;
flex-wrap: unset;
}

.homesearch-feild .input-group .input-group-addon img{
width: 24px;
margin-left: 12px;
}

.homesearch-feild .form-control{
border-radius: 0px;
outline: none;
box-shadow: none;
background: none;
border: 0px;
color: rgb(0 0 0 / 40%);
font-size: 15px;
font-weight: 500;
padding: 4px 0px 0px;
}

.homesearch-feild .form-control:focus{
color: rgb(0 0 0 / 40%);
outline: none;
box-shadow: none;
background: none;
}

.homesearch-feild .form-control::placeholder {
color: rgb(0 0 0 / 40%);
}

.homesearch-feild .form-control::-ms-input-placeholder {
color: rgb(0 0 0 / 40%);
}

.homesearch-feild label{
font-size: 14px;
color: #000;
display: block;
font-weight: 500;
}

.home-searchbar .search-butn{
background: #F58220;
border: 0px;
border-radius: 50%;
width: 63px;
height: 60px;
display: flex;
align-items: center;
justify-content: center;
transition: all 0.2s ease-In;
}

.home-searchbar .search-butn img{
width: 24px;
}

.home-searchbar .search-butn:hover{
background: #2A347C;
}









.homebanner{
position: absolute;
z-index: 1;
top: 0;
left: 0;
right: 0;
padding-top: 170px;
}

.homehead-heading{
margin-top: 140px;
}

.homehead-heading h1{
font-size: 100px;
color: #fff;
line-height: 1;
font-weight: 400;
}

.homehead-heading p{
color: #F58220;
margin: 0;
font-size: 30px;
font-weight: 700;
text-transform: uppercase;
}

.homehead-content{
position: absolute;
bottom: 6%;
right: 0;
left: 0;
margin: 0 auto;
display: flex;
justify-content: end;
}

.homehead-content div{
width: 45%;
}

.homehead-content div label{
color: #fff;
margin-bottom: 8px;
font-size: 28px;
font-weight: 700;
text-transform: uppercase;
}

.homehead-content div p{
color: #fff;
margin-bottom: 0px;
}


.homequote-area{
margin: 80px 0px;
text-align: center;
}

.homequote-area h2{
color: #2A347C;
font-size: 100px;
line-height: 1;
font-weight: 400;
position: relative;
}

.homequote-1{
position: absolute;
width: 40px;
top: -10px;
left: 20px;
}

.homequote-2{
position: absolute;
width: 40px;
bottom: -10px;
right: 110px;
transform: rotate(-180deg);
}

.homequote-area p{
color: rgb(0 0 0 / 60%);
margin-bottom: 0;
font-size: 18px;
font-weight: 700;
text-transform: uppercase;
}


.home-feature{
background: url(../../../public/assets/home/feature-bg.webp) no-repeat;
background-size: cover;
padding: 60px 0px;
}

.feature-box img{
width: 60px;
}

.feature-box span{
display: block;
color: #fff;
font-size: 13px;
font-weight: 300;
text-transform: uppercase;
margin: 15px 0px 6px;
}

.feature-box p{
color: #fff;
margin: 0;
font-size: 22px;
font-weight: 700;
line-height: 1.4;
text-transform: capitalize;
}


.homepage-fleet{
margin: 80px 0px;
}

.homefleet-box{
overflow: hidden;
border-radius: 15px;
position: relative;
}

.homefleet-box .img-responsive{
transition: transform 0.4s ease-in-out 0s;
}

.homefleet-box:hover .img-responsive {
transform: scale(1.05);
}

.fleetbox-detail{
position: absolute;
top: 0;
left: 0;
width: 100%;
padding: 50px 20px 20px;
display: flex;
flex-direction: column;
align-items: center;
justify-content: space-between;
height: 100%;
}

.fleetbox-detail h4{
color: #fff;
text-transform: uppercase;
font-size: 36px;
margin: 0;
text-align: center;
}

.fleetbox-detail div{
display: flex;
flex-wrap: wrap;
justify-content: space-between;
}

.fleetbox-detail div p{
width: 40%;
color: #fff;
margin: 8px 0px 0px;
display: flex;
align-items: center;
font-size: 14px;
}

.fleetbox-detail div p img{
width: 18px;
margin-right: 5px;
}

.fleet-slider {
padding-bottom: 30px;
margin-top: 40px;
}

.fleet-slider .slick-slide {
padding: 0px 12px;
}


.home-corevalue{
margin: 80px 0px;
}

.corevalue-slider{
padding-bottom: 30px;
margin-top: 30px;
margin-right: -320px;
}

.corevalue-slider .slick-slide {
padding: 15px;
}

.corevalue-slider .slick-dots {
text-align: left;
padding-left: 15px;
}

.corevalue-box{
box-shadow: 0 2px 16px 4px rgba(40, 44, 63, .05);
background: #fff;
border-radius: 12px; 
}

.corevalue-box div{
padding: 15px;
min-height: 152px;
}

.corevalue-box img{
border-radius: 12px 12px 0px 0px; 
}

.corevalue-box h4{
color: #000;
text-transform: uppercase;
font-weight: 800;
font-family: "Inter", sans-serif;
font-size: 20px;
}

.corevalue-box p{
color: rgb(0 0 0 / 70%);
margin: 0;
}


.home-skilwork{
background: url(../../../public/assets/home/skilwork-bg.webp) no-repeat;
background-size: cover;
background-position: center;
padding-bottom: 80px;
margin-top: 120px;
}

.skilwork-head{
background: #F58220;
border-radius: 10px;
padding: 10px 30px;
text-align: center;
display: inline-block;
margin: -40px 0px 50px;
color: #fff;
}

.skilwork-row{
position: relative;
margin-top: 70px;
z-index: 1;
}

.skilwork-content{
padding-right: 50px; 
}

.skilwork-left {
padding-right: 0px;
padding-left: 50px;
}

.skilwork-content span{
background: #fff;
border: 1.5px dashed rgb(42 52 124 / 60%);
border-radius: 50%;
width: 60px;
height: 60px;
display: flex;
align-items: center;
justify-content: center;
font-size: 30px;
color: rgb(245 130 32 / 70%);
font-weight: 800;
margin-bottom: 8px;
}

.skilwork-content .heading{
color: #fff;
font-size: 50px;
margin-bottom: 2px;
}

.skilwork-content p{
color: rgb(255 255 255 / 70%);
margin-bottom: 0;
font-weight: 600;
text-transform: capitalize;
}

.skilwork-car1{
position: absolute;
left: 0;
top: -70px;
width: 240px;
z-index: -1;
}

.skilwork-car2{
position: absolute;
right: 0;
top: 10px;
width: 280px;
z-index: -1;
}

.skilwork-car3{
position: absolute;
left: 0;
bottom: -60px;
width: 200px;
z-index: -1;
}

/*-----*/

.home-skilapp{
background: #FEEAD1;
padding: 80px 0px;
position: relative;
overflow: hidden;
z-index: 1;
}

.skilapp-vector{
position: absolute;
right: 0;
top: 50%;
transform: translateY(-50%);
height: 100%;
z-index: -1;
}

.skilapp-content .heading {
font-size: 50px;
}

.skilapp-content .heading span{
color: #F58220;
}

.skilapp-content p{
color: rgb(0 0 0 / 70%);
width: 78%;
margin: 8px 0px 20px;
}

.skilapp-content ul{
display: flex;
align-items: center;
margin: 0;
list-style: none;
padding: 0;
}

.skilapp-content ul li{
margin-right: 12px;
}

.skilapp-content ul li img{
width: 150px;
-webkit-transition: all 0.2s ease;
-moz-transition: all 0.2s ease;
-o-transition: all 0.2s ease;
transition: all 0.2s ease;
}

.skilapp-content ul li a:hover img {
-webkit-transform: translateY(-3px);
-moz-transform: translateY(-3px);
-o-transform: translateY(-3px);
transform: translateY(-3px);
}

.skilapp-content ul li:nth-child(1) img{
width: 90px;
}

/*-----*/

.home-newsupdate{
margin: 80px 0px;
}

.newsupdate-head{
display: flex;
align-items: center;
justify-content: space-between;
}

.newsupdate-slider {
padding-bottom: 30px;
margin-top: 40px;
}

.newsupdate-slider .slick-slide {
padding: 0px 12px;
}

.newsupdate-inner{
position: relative;
}

.newsupdate-inner img{
border-radius:15px;
}

.newsupdate-inner div{
position: absolute;
bottom: 0;
left: 0;
right: 0;
width: 100%;
padding: 0px 15px 15px;
}

.newsupdate-inner h4{
color: #fff;
text-transform: capitalize;
font-weight: 800;
font-size: 22px;
}

.newsupdate-inner a{
color: rgb(255 255 255 / 60%);
font-size: 13px;
text-transform: uppercase;
transition: all 0.2s ease-In;
}

.newsupdate-box:hover .newsupdate-inner a{
color: #F58220;
}

.newsupdate-box span{
color: #000;
font-size: 15px;
display: block;
text-align: right;
margin: 5px 0px;
position: relative;
}

.newsupdate-box span:before {
position: absolute;
content: '';
background: #F58220;
width: 60%;
height: 1px;
left: 0;
top: 50%;
transform: translateY(-50%);
}

/*-----*/

.home-faq{
margin-bottom: 80px;
}

/*-----*/

.hone-business{
margin: 80px 0px;
}

.skil-business{
background: url(../../../public/assets/home/business-bg.webp) no-repeat;
background-position: center;
background-size: cover;
border-radius: 15px;
padding: 80px 0px;
}

.skil-business .heading {
color: #fff;
}

.skil-business p {
margin: 0;
color: #fff;
}

.skil-business ul {
list-style: none;
padding: 30px;
margin: 18px -30px 18px 0px;
border-radius: 12px;
background: radial-gradient(#FFAA2C 0%, #F47B14 70%);
display: flex;
justify-content: space-between;
}

.skil-business ul li{
width: 30%;
position: relative;
}

.skil-business ul li span{
color: #fff;
font-size: 22px;
font-weight: 700;
margin: 8px 0px 4px;
display: block;
line-height: 1.2;
}

.skil-business ul li img{
width: 45px;
}

.skil-business ul li:before {
content: '';
position: absolute;
width: 1px;
height: 100%;
top: 0;
right: -10px;
background: linear-gradient(rgb(255 255 255 / 5%), #ffffff, rgb(255 255 255 / 5%));
}

.skil-business ul li:last-child:before {
display: none;
}

/*-------*/

.honepage-video{
position: relative;
}

.honepage-video .heading {
color: #fff;
margin-top: 40px;
}

.home-newvideo-box{
-webkit-transition: 1s ease-in-out;
transition: 1s ease-in-out;
display: flex;
justify-content: center;
align-items: center;
height: 100%;
position: absolute;
left: 0;
top: 0;
width: 100%;
text-align: center;
} 

.home-newvideo-box-content{
position: relative;
}

.home-newvideo-box-content .parallex-homevideo{
width: 100%;
height: 555px;
object-fit: cover;
}

.video-play-button {
position: relative;
z-index: 1;
box-sizing: content-box;
display: inline-block;
width: 20px;
height: 19px;
border-radius: 50%;
padding: 18px 20px 18px 28px;
}

.video-play-button:before {
content: "";
position: absolute;
z-index: 0;
left: 50%;
top: 50%;
transform: translateX(-50%) translateY(-50%);
display: block;
width: 80px;
height: 80px;
background: #fff;
border-radius: 50%;
animation: pulse-border 1500ms ease-out infinite;
}

.video-play-button:after {
content: "";
position: absolute;
z-index: 1;
left: 50%;
top: 50%;
transform: translateX(-50%) translateY(-50%);
display: block;
width: 80px;
height: 80px;
background: #fff;
border-radius: 50%;
transition: all 200ms;
}

.video-play-button span {
display: block;
position: relative;
z-index: 3;
width: 0;
height: 0;
border-left: 18px solid #F58220;
border-top: 10px solid transparent;
border-bottom: 10px solid transparent;
}

@keyframes pulse-border {
    0% {
    transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
    opacity: 1;
    }
    100% {
    transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.8);
    opacity: 0;
    }
}

/*------*/

.home-testimonial {
margin: 80px 0px;
}

.testimonial-slider {
padding-bottom: 30px;
margin-top: 40px;
}

.home-testimonial .slick-slide {
padding: 0px 12px;
}

.home-testimonial .heading span{
color: #F58220;
}

.testimonial-box{
background: #FEEBD2;
padding: 30px;
border-radius: 15px;
text-align: center;
}

.testimonial-box h4{
color: #000;
font-family: "Inter", sans-serif;
font-size: 28px;
font-weight: 800;
text-transform: uppercase;
}

.testimonial-box p{
color: rgb(0 0 0 / 60%);
}

.testimonial-box span{
color: #F58220;
text-transform: uppercase;
font-size: 14px;
font-weight: 500;
}

.home-testimonial .slick-list{
padding: 0px !important;
}

/* .home-testimonial .slick-slide,
.home-testimonial .slick-slide[aria-hidden="true"]:not(.slick-cloned) ~ .slick-cloned[aria-hidden="true"] {
transform: scale(.80) translateZ(0);
transition: all .3s ease-in-out;
}

.home-testimonial .slick-center,
.home-testimonial .slick-slide[aria-hidden="true"]:not([tabindex="-1"]) + .slick-cloned[aria-hidden="true"] {
transform: scale(1) translateZ(0);
} */


.home-testimonial .slick-center .testimonial-box{
background: #2A347C;
}

.home-testimonial .slick-center .testimonial-box h4 {
color: #fff;
}

.home-testimonial .slick-center .testimonial-box p {
color: #fff;
}